In [8]:
import pandas as pd
import numpy as np

In [2]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [4]:
tuples = list(zip(*arrays))

In [5]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [6]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

In [7]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [9]:
s = pd.Series(np.random.randn(8), index=index)

In [11]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [12]:
s = pd.Series(np.random.randn(8), index=arrays)

In [15]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [13]:
s

bar  one    2.417580
     two   -0.433819
baz  one    0.460495
     two    0.786460
foo  one   -0.108153
     two    0.248629
qux  one    0.489359
     two    0.831437
dtype: float64

In [14]:
df = pd.DataFrame({"AAA": [4, 5, 6, 7],
                   "BBB": [10, 20, 30, 40],
                   "CCC": [100, 50, -30, -50]})

In [17]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [16]:
len(df)

4

In [24]:
df.at[0, "AAA"], df.at[0, "BBB"], df.at[0, "CCC"]

(4, 10, 100)

In [25]:
for i in range(0, len(df)):
    print("%s %s %s" % (df.at[i, "AAA"],
                        df.at[i, "BBB"],
                        df.at[i, "CCC"]))

4 10 100
5 20 50
6 30 -30
7 40 -50