In [6]:
import numpy as np
import pandas as pd

# MultiIndex / advanced indexing

## Hierarchical indexing (MultiIndex)

### Creating a MultiIndex (hierarchical index) object

In [7]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [8]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [11]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one      -1.509440
       two      -0.216811
baz    one       0.082284
       two       1.295520
foo    one       0.193913
       two       0.489666
qux    one       0.669316
       two       0.339287
dtype: float64

In [12]:
s.index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [13]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]

In [14]:
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [17]:
df = pd.DataFrame([['bar', 'one'], ['bar', 'two'],
                   ['foo', 'one'], ['foo', 'two']],
                  columns=['first', 'second'])
df

  first second
0   bar    one
1   bar    two
2   foo    one
3   foo    two

In [16]:
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [18]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [20]:
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one    0.170394
     two   -0.259607
baz  one    0.459445
     two   -0.030816
foo  one   -0.381596
     two   -0.368235
qux  one   -0.910466
     two   -0.117967
dtype: float64

In [22]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.589106 -0.559254  1.807777  0.073106
    two -0.659053  0.552092 -0.596825  0.036014
baz one  0.753108 -1.889731  0.573919 -1.162124
    two -1.334693  0.425556 -0.015069 -1.696142
foo one -0.419590  0.536529  0.209043 -0.648965
    two  1.634438 -1.161072 -0.118995 -0.707144
qux one -0.586566 -0.346913 -1.115234 -1.298440
    two  0.003327  0.685448 -1.118847 -0.386240

In [24]:
df.index.names

FrozenList([None, None])

In [27]:
df = pd.DataFrame(np.random.randn(3, 8),
                  index=list('ABC'),
                  columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.197996 -0.122795  1.606437  1.270772 -0.041645 -0.204737 -0.512192
B      -1.847761  1.835043  0.718189  1.010388  0.335416  1.592538 -3.628647
C       0.693335  0.142507 -1.660986  1.352549 -1.159212  1.739073 -0.070699

first
second       two
A      -0.389283
B       0.075220
C       0.574012

In [28]:
pd.DataFrame(np.random.randn(6, 6),
             index=index[:6],
             columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one     0.654781 -0.482034 -0.352437 -0.931498  1.678215  0.224201
      two     1.088313  0.501066 -0.576616 -2.131528 -0.977121 -1.112402
baz   one    -0.506430 -0.734242  1.920596  0.127927 -0.348007  2.209224
      two     0.462660 -1.903094 -0.953544  0.283388 -0.192722 -0.078006
foo   one     1.326004  1.685553 -0.583033  1.221191 -0.233827  0.219192
      two    -1.203306  0.899780  1.482241  0.420821  0.205653  0.659525

In [33]:
with pd.option_context('display.multi_sparse', False):
    df

In [34]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)   -1.810031
(bar, two)   -0.602508
(baz, one)   -1.896724
(baz, two)   -1.555635
(foo, one)   -0.959737
(foo, two)   -0.220033
(qux, one)   -1.753975
(qux, two)   -0.512113
dtype: float64

### Reconstructing the level labels

In [35]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [36]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [37]:
index.get_level_values('second')

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

### Basic indexing on axis with MultiIndex

In [38]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.197996 -0.122795  1.606437  1.270772 -0.041645 -0.204737 -0.512192
B      -1.847761  1.835043  0.718189  1.010388  0.335416  1.592538 -3.628647
C       0.693335  0.142507 -1.660986  1.352549 -1.159212  1.739073 -0.070699

first
second       two
A      -0.389283
B       0.075220
C       0.574012

In [39]:
df['bar']

second       one       two
A      -1.197996 -0.122795
B      -1.847761  1.835043
C       0.693335  0.142507

In [40]:
df["bar", "one"]

A   -1.197996
B   -1.847761
C    0.693335
Name: (bar, one), dtype: float64

In [42]:
df["bar"]["one"]

A   -1.197996
B   -1.847761
C    0.693335
Name: one, dtype: float64

In [43]:
df["bar", "one"] == df["bar"]["one"]

A    True
B    True
C    True
dtype: bool

### Defined levels

In [47]:
df.columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [48]:
df[["foo", "qux"]].columns.levels

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [49]:
df[["foo", "qux"]].columns.to_numpy()

array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [50]:
df[["foo", "qux"]].columns.get_level_values(0)

Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [52]:
new_mi = df[["foo", "qux"]].columns.remove_unused_levels()
new_mi

MultiIndex([('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [53]:
new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

### Data alignment and using reindex

In [55]:
s

bar  one    0.170394
     two   -0.259607
baz  one    0.459445
     two   -0.030816
foo  one   -0.381596
     two   -0.368235
qux  one   -0.910466
     two   -0.117967
dtype: float64

In [56]:
s + s

bar  one    0.340788
     two   -0.519214
baz  one    0.918890
     two   -0.061632
foo  one   -0.763193
     two   -0.736471
qux  one   -1.820932
     two   -0.235934
dtype: float64

In [62]:
s + s[:-2]

bar  one    0.340788
     two   -0.519214
baz  one    0.918890
     two   -0.061632
foo  one   -0.763193
     two   -0.736471
qux  one         NaN
     two         NaN
dtype: float64

In [65]:
s[::2]

bar  one    0.170394
baz  one    0.459445
foo  one   -0.381596
qux  one   -0.910466
dtype: float64

In [63]:
s + s[::2]

bar  one    0.340788
     two         NaN
baz  one    0.918890
     two         NaN
foo  one   -0.763193
     two         NaN
qux  one   -1.820932
     two         NaN
dtype: float64

In [67]:
s.reindex(index[:3])

first  second
bar    one       0.170394
       two      -0.259607
baz    one       0.459445
dtype: float64

In [68]:
s.reindex([("foo", "two"), ("bar", "one"), ("qux", "one"), ("baz", "one")])

foo  two   -0.368235
bar  one    0.170394
qux  one   -0.910466
baz  one    0.459445
dtype: float64

## Advanced indexing with hierarchical index

In [69]:
df = df.T
df

                     A         B         C
first second
bar   one    -1.197996 -1.847761  0.693335
      two    -0.122795  1.835043  0.142507
baz   one     1.606437  0.718189 -1.660986
      two     1.270772  1.010388  1.352549
foo   one    -0.041645  0.335416 -1.159212
      two    -0.204737  1.592538  1.739073
qux   one    -0.512192 -3.628647 -0.070699
      two    -0.389283  0.075220  0.574012

In [72]:
df.loc['bar']

               A         B         C
second
one    -1.197996 -1.847761  0.693335
two    -0.122795  1.835043  0.142507

In [70]:
df.loc[('bar', 'two')]

A   -0.122795
B    1.835043
C    0.142507
Name: (bar, two), dtype: float64

In [71]:
df.loc[('bar', 'two'), 'A']

-0.12279538489822864

In [73]:
df.loc['baz':'foo']

                     A         B         C
first second
baz   one     1.606437  0.718189 -1.660986
      two     1.270772  1.010388  1.352549
foo   one    -0.041645  0.335416 -1.159212
      two    -0.204737  1.592538  1.739073

In [74]:
df.loc[('baz', 'two'):('qux', 'one')]

                     A         B         C
first second
baz   two     1.270772  1.010388  1.352549
foo   one    -0.041645  0.335416 -1.159212
      two    -0.204737  1.592538  1.739073
qux   one    -0.512192 -3.628647 -0.070699

In [75]:
df.loc[[('bar', 'two'), ('qux', 'one')]]

                     A         B         C
first second
bar   two    -0.122795  1.835043  0.142507
qux   one    -0.512192 -3.628647 -0.070699

In [77]:
s = pd.Series([1, 2, 3, 4, 5, 6],
              index=pd.MultiIndex.from_product([["A", "B"], ["c", "d", "e"]]))
s

A  c    1
   d    2
   e    3
B  c    4
   d    5
   e    6
dtype: int64

In [78]:
s.loc[[("A", "c"), ("B", "d")]] # list of tupls

A  c    1
B  d    5
dtype: int64

In [79]:
s.loc[(["A", "B"], ["c", "d"])] # tuple of lists

A  c    1
   d    2
B  c    4
   d    5
dtype: int64